/* Generic */

main {
    background-image: url(../img/backgorund.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}

/* *************************/
/* Main */
/* *************************/

.title {
    background-color: brown;
    padding: 23px;
}

.title-content {
    background-color: aliceblue;
    padding: 23px;
}

.title-content-second {
    background-color: aliceblue;

    padding: 23px;
}